<div class="container">
    <div class="row">
        <div class="col-12">
            <app-searchinput [searchText]="searchText" (searchTextChange)="onSearchTextChange($event)">
            </app-searchinput>
        </div>
    </div>

    <!-- Default content: show when NOT searching -->
    <div *ngIf="!isSearching">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="most-searched">
                    <p>MOST COMMONLY SEARCHED</p>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="tags">
                    <a href="javascript:void(0)" (click)="onTagClick('AQUARACER')">AQUARACER</a>
                    <a href="javascript:void(0)" (click)="onTagClick('FORMULA 1')">FORMULA 1</a>
                    <a href="javascript:void(0)" (click)="onTagClick('CARRERA')">CARRERA</a>
                    <a href="javascript:void(0)" (click)="onTagClick('MONACO')">MONACO</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <div class="main-section">
                    <div class="collections mt-2">
                        <h3>COLLECTIONS</h3>
                        <div class="collection-grid mt-4">
                            <div class="collection-item" *ngFor="let item of collections">
                                <img [src]="item.img" [alt]="item.label" />
                                <p class="mt-1">
                                    TAG Heuer<br />
                                    <strong>{{ item.label }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 with-left-border">
                <div class="recommendations">
                    <h3>THIS MIGHT INTEREST YOU</h3>
                    <div class="product-grid">
                        <div class="product-card" *ngFor="let product of products">
                            <img [src]="product.img" [alt]="product.name" />
                            <p class="name-product mt-2">{{ product.name }}</p>
                            <p class="model">{{ product.model }}</p>
                        </div>
                    </div>

                    <div class="help-section">
                        <h3>ARE YOU LOOKING FOR HELP?</h3>
                        <div class="help-grid">
                            <div class="help-box" *ngFor="let help of helpOptions">
                                <i [class]="help.icon"></i>
                                <p>{{ help.label }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isSearching" class="row">
        <div class="col-12">
            <div class="search-results col-lg-12">
                <ol class="ais-Hits-list">
                    <li class="ais-Hits-item" *ngFor="let product of searchResults; let i = index"
                        (click)="goToProductPage(product, i)">
                        <div class="product-tile">
                            <div class="image-container">
                                <a href="#" (click)="$event.preventDefault()">
                                    <img *ngIf="product.imageSmall" class="tile-image" [src]="product.imageSmall"
                                        [alt]="product.name" />
                                </a>
                            </div>
                            <div class="tile-body">
                                <p class="pdp-link">{{ product.name }}</p>
                                <p class="tile-attributes text-gw">{{ product.description }}</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>