<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="HOW CAN WE HELP YOU?" [(ngModel)]="searchText" />
            </div>
            <hr class="search-line" />
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <div class="most-searched">
                <p>MOST COMMONLY SEARCHED</p>
            </div>
        </div>
        <div class="col-md-9 col-12">
            <div class="tags">
                <a href="#">AQUARACER</a>
                <a href="#">FORMULA 1</a>
                <a href="#">CARRERA</a>
                <a href="#">MONACO</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="main-section">
                <div class="collections mt-2">
                    <h3>COLLECTIONS</h3>
                    <div class="collection-grid mt-4">
                        <div class="collection-item" *ngFor="let item of collections">
                            <img [src]="item.img" [alt]="item.label" />
                            <p class="mt-1">
                                TAG Heuer<br />
                                <strong>{{ item.label }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9 with-left-border">
            <div class="recommendations">
                <h3>THIS MIGHT INTEREST YOU</h3>
                <div class="product-grid">
                    <div class="product-card" *ngFor="let product of products">
                        <img [src]="product.img" [alt]="product.name" />
                        <p class="name-product mt-2">{{ product.name }}</p>
                        <p class="model">{{ product.model }}</p>
                    </div>
                </div>

                <div class="help-section">
                    <h3>ARE YOU LOOKING FOR HELP?</h3>
                    <div class="help-grid">
                        <div class="help-box" *ngFor="let help of helpOptions">
                            <i [class]="help.icon"></i>
                            <p>{{ help.label }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>